<div class="container">
    <mat-card class="register-card">
        <mat-card-header>
            <mat-card-title>Create Account</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="form-container">
                <mat-form-field>
                    <input matInput placeholder="Display Name" autocomplete="off" [formControl]="displayName">
                    <mat-error *ngIf="displayName?.errors">
                        <span *ngIf="displayName?.errors?.required">required</span>
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Email" autocomplete="off" [formControl]="email">
                    <mat-error *ngIf="email?.errors">
                        <span *ngIf="email?.errors?.required">required</span>
                        <span *ngIf="email?.errors?.email">invalid email</span>
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="password" placeholder="Password" autocomplete="off" [formControl]="password"
                        (keydown.enter)="register()">
                    <mat-error *ngIf="password?.errors">
                        <span *ngIf="password?.errors?.required">required</span>
                    </mat-error>
                </mat-form-field>
                <button mat-stroked-button class="btn-register" color="primary" (click)="register()" [disabled]="isRegistering ||displayName?.invalid || email?.invalid || password?.invalid">CREATE</button>
            </div>
            <div class="error-container">
                <span class="error-message" *ngIf="errorMessage">{{ errorMessage }}</span>
            </div>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-button (click)="toLogin()">already have account? back to login</button>
        </mat-card-actions>
    </mat-card>
</div>